#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#fileButton {
  margin: 16px 0 16px 0;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 2rem;
}

.copyButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.uploadImage {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.logo {
  height: 5rem;
  width: 5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

p {
  margin: 0;
  text-align: center;
}
